recursive-include tests *
global-exclude *.pyc *.pyo

include ffi/*
include include/curl/*
include scripts/build.py
include Makefile
include libs.json
recursive-include ffi/patches *.patch
include scripts/build_windows_fingerprints.sh
include docs/impersonate/windows.rst
