recursive-include tests *
global-exclude *.pyc *.pyo

include ffi/*
include scripts/build.py
include scripts/build_native.py
include scripts/ci_build_native.sh
include scripts/test_installed_wheel.py
include Makefile
include libs.json
recursive-include ffi/patches *.patch
include scripts/build_windows_fingerprints.sh
include docs/impersonate/windows.rst
